{% set email = Translation('ag_email_1') %}
{% set whatsappNumber = Translation('ag_telefone_3') %}
{% set phone = Translation('ag_telefone_1') %}
{% set phone2 = Translation('ag_telefone_2') %}

{% if settings.news_active %}
    <div class="bg-primary">
        <div class="w-full max-w-screen-xl m-auto flex items-center justify-between text-white py-8 gap-12"> 
            
            <div class="info flex flex-col">
                <h4 class="text-secundary uppercase tracking-wide text-[1.8rem] font-medium">NEWSLETTER</h4>
                <p>Cadastre seu e-mail e fique por dentro das novidades e promoções! </p>
            </div>

            <form class="flex gap-4 flex-1" action="/mvc/store/newsletter/" method="post">
                <input type="hidden" name="loja" value="{{ store.id }}">
                <input type="email" class="p-2 rounded bg-white flex-1" name="email" placeholder="E-mail" required spellcheck="false" autocomplete="off">
                <button type="submit" class="hover:opacity-80 p-2 rounded bg-secundary text-white" title="Cadastrar" aria-label="Cadastrar">
                    <span>Cadastrar</span>
                </button>
            </form>

        </div>
    </div>
{% endif %}

<footer class="footer {% if 'home' not in pages.current %} with-border {% endif %}">

    <div class="cols">
        <div class="container flex justify-between f-wrap">

            <div class="box logo-box">
                {% if settings.logo %}
                    <a class="logo" href="{{ store.url }}" title="{{ store.name }}" aria-label="{{ store.name }}">
                        <img src="{{ themePath }}{{ settings.logo }}" alt="{{ store.name }}" width="222" height="36" />
                    </a>
                {% else %}
                    <a class="logo" href="{{ store.url }}" title="{{ store.name }}">
                        <span class="title-store">{{ store.name }}</span>
                    </a>
                {% endif %}

                <div class="social-media flex align-center">
                    {% element 'snippets/social-media' %}
                </div>
            </div>

            <div class="box">
                <div class="title">Institucional {{ icon }}</div>
                <div class="overflow">
                    <ul class="list">
                        {% for custom in pages.custom %}
                        <li>
                            <a href="{{ custom.url }}" title="{{ custom.name }}">{{ custom.name }}</a>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="{{ links.contact }}" title="Fale Conosco">Fale Conosco</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="box box-infos">
                <div class="title">Atendimento {{ icon }}</div>
                <div class="overflow">
                    <ul class="list"> 

                        {% if phone %}
                        {% set link = phone | replace({'(': '', ')': '', '-': '', ' ': ''}) %}
                        <li>
                            <a href="tel:{{ link }}" title="Telefone: {{ phone }}">
                                <i class="icon icon-phone v-align-middle"></i>
                                {{ phone }}
                            </a>
                        </li>
                        {% endif %}
                        {% if phone2 %}
                        {% set link = phone2 | replace({'(': '', ')': '', '-': '', ' ': ''}) %}
                        <li>
                            <a href="tel:{{ link }}" title="Telefone: {{ phone2 }}">
                                <i class="icon icon-phone v-align-middle"></i>
                                {{ phone2 }}
                            </a>
                        </li>
                        {% endif %}

                        {% if whatsappNumber %}
                        <li>
                            {% element 'snippets/whatsapp' { 'number': whatsappNumber, 'include_text' : false } %}
                        </li>
                        {% endif %}
                        
                        {% if email %}
                        <li>
                            <a href="mailto:{{ email }}" title="Email: {{ email }}">
                                <i class="icon icon-email v-align-middle"></i>
                                {{ email }}
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            
            <div class="box">

                {% if paymentMethods.order or paymentMethods.credit %}
                    <div class="title">Formas de pagamento {{ icon }}</div>
                    {% element 'snippets/payment-list' %}
                {% endif %}

                <div class="title">Selos de Seguran&ccedil;a {{ icon }}</div>
                <ul class="security-seals flex f-wrap">                    

                    <li class="google-seal">
                        <a href="https://transparencyreport.google.com/safe-browsing/search?url={{ store.url }}" target="_blank" rel="noreferrer noopener" title="Google Safe Browsing">
                            <span class="icon icon-shield vertical-align"></span>
                            <span class="icon icon-google vertical-align""></span>

                        </a>
                    </li>

                    {% if seals.ebit %}
                        <li class="ebit-seal">
                            {{ seals.ebit }}
                        </li>
                    {% endif %}

                    {% if seals.hackersafe %}
                        <li class="loja-protegida-seal">
                            {{ seals.hackersafe }}
                        </li>
                    {% endif %}

                </ul>

            </div>

        </div>
    </div>

    <div class="copy">
        <div class="container flex align-center flex-column">
            
            <div class="text">{{ Translation('ag_mensagem_rodape') }}</div>

            <div class="tray">
                {% element 'snippets/credits' %}
                {% if tray.theme_configs.custom_theme_preview %}
                    <div class="mode-preview">
                        <a href="/mvc/store/home/reset_opencode_preview?loja={{ store.id }}">Sair modo preview</a>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

</footer>