{% set email = Translation('ag_email_1') %}
{% set whatsappNumber = Translation('ag_telefone_3') %}
{% set phone = Translation('ag_telefone_1') %}
{% set phone2 = Translation('ag_telefone_2') %}

<div class="topBar bg-[#2E324E] ">
    <div class="topBarProduct text-white flex justify-center md:justify-between items-center w-full max-w-screen-xl m-auto p-2 text-sm">
        <p>Bem vindo à <strong>Capotas MAP!</strong></p>
        <ul class="listTopProduct hidden md:flex gap-2 items-center justify-between">
            <li>Rastrear Pedido</li>
            <li>Ver meus Pedidos</li>
            <li class="flex gap-2 items-center">
                Siga-nos
                <img src="{{ themePath }}img/virtualiti/topo-facebook.svg" alt="">
                <img src="{{ themePath }}img/virtualiti/topo-instagram.svg" alt="">
            </li>
        </ul>
    </div>
    
</div>
<header class="px-2 py-4">

    <div class="headerBox w-full max-w-screen-xl m-auto flex items-center justify-between flex-wrap md:flex-nowrap">

        <div class="menuMobile ">
            <img src="{{ themePath }}img/virtualiti/menu-mobile-capota.png" class="w-[28px]" alt="">
        </div>

        <div class="m-4 logo">
            <a class="logo" href="{{ store.url }}" title="{{ store.name }}">

                {% if settings.logo %}
                    <img src="{{ themePath }}{{ settings.logo }}" alt="{{ store.name }}" width="222" height="36">
                {% endif %}

            </a> 
        </div>

        <div class="mt-4 mb-2 search flex-1 max-w-[578px] ">
            <form class="search-header flex-1 px-4" action="{{ links.search }}" method="get" data-search="suggestion">
                <input type="hidden" name="loja" value="{{ store.id }}">
                <input class="input-search md:bg-[#f1f1f1] rounded p-2 placeholder:font-normal flex flex-1 border border-[#f1f1f1]" 
                    placeholder="Buscar..." spellcheck="false" autocomplete="off" autocorrect="off" data-input="suggestion" type="text"  name="palavra_busca">
                <button class="button-search bg-[#464D7E] text-white p-[0.7rem] rounded hover:bg-secundary transition-all ml-[-5px]">
                    <svg class="rotate-[275deg]" xmlns="http://www.w3.org/2000/svg" width="18.914" height="18.914" viewBox="0 0 18.914 18.914">
                        <g id="Grupo_3" data-name="Grupo 3">
                        <path class="fill-white" id="Caminho_96" data-name="Caminho 96" d="M16.671,13.1A7.675,7.675,0,0,0,5.817,2.244a7.526,7.526,0,0,0-1.154,9.263.323.323,0,0,1-.045.385L.7,15.807a1.788,1.788,0,0,0-.274,2.56l.119.119a1.788,1.788,0,0,0,2.56-.274l3.907-3.907a.328.328,0,0,1,.393-.053A7.526,7.526,0,0,0,16.671,13.1ZM7.234,11.681a5.671,5.671,0,1,1,8.02,0A5.677,5.677,0,0,1,7.234,11.681Z" transform="translate(-0.001 0)" fill="#ce3176"/>
                        <g id="Grupo_2" data-name="Grupo 2" transform="translate(6.931 3.072)">
                            <path class="fill-white" id="Caminho_97" data-name="Caminho 97" d="M114.544,54.553a.793.793,0,0,1-.729-1.1A4.992,4.992,0,0,1,120.35,50.8a.792.792,0,1,1-.617,1.459,3.406,3.406,0,0,0-4.459,1.807A.792.792,0,0,1,114.544,54.553Z" transform="translate(-113.752 -50.409)" fill="#ce3176"/>
                        </g>
                        </g>
                    </svg>
                </button>
            </form>
        </div>

        <div class="blockB ">
            <div class="attendance">
                <ul>
                    <li>
                        <img src="{{ themePath }}img/virtualiti/topo-whats.svg" alt="">
                        <p class="text-primary ">
                            Central de<br>
                            <b class="font-semibold">
                                <a href="">Atendimento</a>
                            </b>  
                        </p>
                        <ul class="rounded">
                            <li class="title">Entre em Contato</li>
                            <li>
                                <img src="{{ themePath }}img/virtualiti/rodape_whatsapp.svg" alt="">
                                <p>(54) 99919-3429</p>
                            </li>
                            <li>
                                <img src="{{ themePath }}img/virtualiti/rodape_telefone.svg" alt="">
                                <p> (54) 3029-6478</p>
                            </li>
                            <li>
                                <img src="{{ themePath }}img/virtualiti/rodape_email.svg" alt="">
                                <p> mapcapotas@gmail.com</p>
                            </li>
                            
                            <li class="followUsHeader">
                                <a href="#">
                                    <img src="{{ themePath }}img/virtualiti/rodape_facebook.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="{{ themePath }}img/virtualiti/rodape_insta.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="myAccount">
                <ul >
                    <li>
                        <img src="{{ themePath }}img/virtualiti/top-login.svg" alt="">
                        <p class="text-primary ">
                            <span class="tray-hide" data-logged-user="true">
                                <b>Olá <span data-customer="name"></span>!</b><br/>
                                <a class="text-primary" href="{{ links.logout }}">Sair</a>
                              </span>
                            <span class="tray-hide" data-logged-user="false">
                                <b>Olá Logista!</b><br/>
                                <a class="font-semibold" href="{{ links.login }}">Minha Conta</a> 
                            </span>
                        </p>
                        <ul class="rounded">
                            <li><a href="#" class="bg-secundary rounded">Entrar</a></li>
                            <li class="noAccount">Ainda nao tem conta?<br><a href="#">Clique aqui</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="cart left-[-1rem]">
                <div class="cart-header">
                    <img class="icon" src="{{ themePath }}img/virtualiti/topo-carrinho.svg" alt="icon">
                    <span class="number" data-cart="amount"></span>
                </div>
            </div>
        </div>

    </div>

</header>

<div class="menuBox bg-primary">

    <p class="text-white p-4 bg-primary loginMobile gap-2 items-center">
        <img src="{{ themePath }}img/virtualiti/topo-login.svg" alt="">
        <span class="tray-hide" data-logged-user="true">
            Olá <span data-customer="name"></span>! / 
            <b><a class="text-primary" href="{{ links.logout }}">Sair</a></b>
          </span>
        <span class="tray-hide" data-logged-user="false">
            Olá Logista!
            <b><a class="text-white" href="{{ links.login }}">Acessar Minha Conta</a></b>
        </span>
    </p>

    <div class="main_menu d-none d-md-flex">
        <div class="container px-0">
            <div class="wrapper main_menu__body menu-principal">
                {% element 'snippets/menu' %}
            </div>
        </div>
    </div>

    <div class="boxMenuMobile">
        {% element 'snippets/menu' %}
    </div>

    <ul class="detailsHeader list text-xl md:text-sm text-white flex-col gap-4 mt-6"> 

        <a href="/" class="text-[.9rem]">Rastear Pedido</a>
        <a href="/" class="text-[.9rem] mt-[-.7rem] mb-4">Ver Meus Pedidos</a>

        {% if whatsappNumber %}
        <li class="flex items-center gap-2">
            {% element 'snippets/whatsapp' { 'number': whatsappNumber, 'include_text' : false } %}
        </li>
        {% endif %}

        {% if phone %}
        {% set link = phone | replace({'(': '', ')': '', '-': '', ' ': ''}) %}
        <li>
            <a href="tel:{{ link }}" title="Telefone: {{ phone }}" class="flex items-center gap-2">
                <img src="{{ themePath }}img/virtualiti/rodape_telefone.svg" alt="">
                {{ phone }}
            </a>
        </li>
        {% endif %}
        {% if phone2 %}
        {% set link = phone2 | replace({'(': '', ')': '', '-': '', ' ': ''}) %}
        <li>
            <a href="tel:{{ link }}" title="Telefone: {{ phone2 }}" class="flex items-center gap-2">
                <img src="{{ themePath }}img/virtualiti/rodape_telefone.svg" alt="">
                {{ phone2 }}
            </a>
        </li>
        {% endif %}

        {% if email %}
        <li>
            <a href="mailto:{{ email }}" title="Email: {{ email }}" class="flex items-center gap-2">
                <img src="{{ themePath }}img/virtualiti/rodape_email.svg" alt="">
                {{ email }}
            </a>
        </li>
        {% endif %}

        
        <li class="flex gap-2 items-center mt-4" >
            
            <img src="{{ themePath }}img/virtualiti/rodape_facebook.svg" alt="">
            <img src="{{ themePath }}img/virtualiti/rodape_insta.svg" alt="">
            
        </li>


    </ul>

    <div class="menuMobile btFechar">
        <img class="invert" src="{{ themePath }}img/virtualiti/x.svg" alt="">
    </div>
</div>


