<!doctype html>
<html lang="pt-br" data-tray-theme="{{ settings.theme_name }}" data-tray-theme-version="" data-files="{{ utils.assets_version }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
    <head>

        {# Minified variable is used for helping development #}
        {% set minified = true %}

        {{ html.charset() }}

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"              content="width=device-width, initial-scale=1">
        <meta name="theme-color"           content="{{ settings.color_primary_medium }}">

        {% element 'head-metas' %}
        {% element 'css-variables' %}
        {% element 'styles' { minified : minified } %}

        {{ tray.analytics }}
        {{ googleTagManager.header(pages.current, tagManagerData) }}

        {# Theme Virtualiti  #}
        <link rel="stylesheet" href="{{ asset('css/virtualiti.css') }}">

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            primary: '#141729',
                            secundary: "#00A1E1",
                        }
                    }
                }
            }
        </script>

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
    </head>
    <body class="bg-[#F8F8F8]">

        {{ googleTagManager.top(pages.current, tagManagerData) }}
        {% element 'snippets/modals-theme' %}

        <div class="overlay-shadow"></div>
        <div class="application">

            {% element 'header' %}

            <main class="site-main">
                {% if not ('home' in pages.current) %}
                <div class="page-content {{ pages.current in ['catalog', 'home', 'search'] ? ' not-padding' }}">
                {% endif %}

                    {% if "central" in pages.current %}

                        <div class="container">
                            <div class="line-panel flex">
                                {%  element 'sidebar-central' %}
                                <div class="col-panel">
                                    {{ content_for_layout }}
                                </div>
                            </div>
                        </div>

                    {% elseif 'home' in pages.current %}

                        {{ content_for_layout }}

                    {% else %}

                        {% set special_pages = [
                            'listas',
                            'depoimentos-de-clientes',
                            'noticias'
                        ] %}

                        {% set title = '' %}

                        {% for page in pages.custom %}
                            {% if ('empresa' in page.slug and pages.current == 'company') or (pages.current == page.slug and page.slug not in special_pages) %}
                                {% set title = page.name %}
                            {% endif %}
                        {% endfor %}

                        <div class="container {% if title != '' %} is-custom-page {% endif %}">

                            {% if title != '' %}
                                <div class="page-title">
                                    <span class="text">
                                        {{ title }}
                                    </span>
                                </div>
                            {% endif %}

                            {{ content_for_layout }}

                        </div>

                    {% endif %}
                {% if not pages.current == 'home' %}
                </div>
                {% endif %}
            </main>

            {% element 'footer' %}

            {% if settings.show_whatsapp_button %}
                {% element 'snippets/whatsapp' { 'local': 'floating' } %}
            {% endif %}

        </div>
        <div>
            {% element 'snippets/messages' %}
        </div>
        
        {% element 'snippets/pageview' %}
        {% element 'snippets/modal' %}

        {% element 'scripts' { minified : minified } %}

        {{ store.chat }}
        {{ googleTagManager.bottom(pages.current, tagManagerData) }}

        {% if pages.current in ['catalog', 'search', 'product'] %}
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        {% endif %} -->

        <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>

        <script>

            $(function(){

                var iconMenu = $(".menuMobile img");

                iconMenu.bind("click", function(){
                    $(this).toggleClass("openMenu");
                    $(".menuBox").toggleClass("Open");
                });

                $(".boxMenuMobile .first-level.sub").each(function(){
                    if($(this).find(".sub-list.second-level").html()) {
                        $(this).append("<span class='arrowMenu'></span>");  
                    }
                });

                var handArrowMenuMobile = $(".boxMenuMobile .arrowMenu");

                handArrowMenuMobile.bind("click", function(){
                    $(this).closest(".first-level.sub").find(".sub-list.second-level").toggleClass("openNivelDois");
                    $(this).toggleClass("rotateArrow");
                });

                var handBrandsHome = $(".brands-home .mobile");
                var handShowcases = $(".section-showcase .list-product");

                handBrandsHome.slick({
                    infinite: true,
                    arrows: false,
                    speed: 300,
                    responsive: [
                        {
                            breakpoint: 1024,
                                settings: {}
                            },
                        {
                            breakpoint: 600,
                                settings: {
                                    slidesToShow: 3,
                                    slidesToScroll: 1
                                }
                            },
                        {
                            breakpoint: 480,
                                settings: {
                                    slidesToShow: 3,
                                    slidesToScroll: 1,
                                    dots: true
                                }
                        }
                    ]
                });

                handShowcases.slick({
                    infinite: true,
                    arrows: true,
                    slidesToShow: 4,
                    speed: 300,
                    prevArrow: '<img class="cursor-pointer w-8 h-8 absolute top-[calc(50%-1rem)] z-10" src="http://images.tcdn.com.br/files/1088558/themes/7/img/virtualiti/seta-vitrines-esquerda.svg"/>',
                    nextArrow: '<img class="cursor-pointer w-8 h-8 absolute right-0 top-[calc(50%-1rem)] z-10" src="http://images.tcdn.com.br/files/1088558/themes/7/img/virtualiti/seta-vitrines-direita.svg?90.83114197112107"/>',
                    responsive: [
                        {
                            breakpoint: 1024,
                                settings: {
                                    slidesToShow: 4,
                                    slidesToScroll: 1,
                                    arrows: true
                                }
                            },
                        {
                            breakpoint: 600,
                                settings: {
                                    slidesToShow: 3,
                                    slidesToScroll: 1,
                                    arrows: true
                                }
                            },
                        {
                            breakpoint: 480,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 1,
                                    dots: false,
                                    arrows: true
                                }
                        }
                    ]
                });

 

            });

        </script>

    </body>
</html>