{% element 'snippets/banner-home'     %}

{# First showcase #}
{% element 'showcase' {
    'rand'     : settings.showcase_rand_products,
    'type'     : settings.showcase_type_1,
    'quantity' : settings.showcase_quantity_1
} %}

{% element 'snippets/banner-grid'     %}    

{# Second showcase #}
{% element 'showcase' {
    'rand'     : settings.showcase_rand_products,
    'type'     : settings.showcase_type_2,
    'quantity' : settings.showcase_quantity_2
} %}

{% element 'snippets/banner-line' { 'banner_id': 'extra4' } %}
{% element 'snippets/banner-line' { 'banner_id': 'extra5', 'mobile': true } %}

{% for pages in pages.custom %}
    {% if pages.info == "depoimentos_de_clientes" and settings.show_reviews %}
        <div class="section-avaliacoes slide-has-dots">
            <div class="container">
                <div class="section-header">
                    <h2 class="title-section">
                        Depoimentos
                    </h2>
                </div>
                {% element 'CustomerReview.reviews' %}
            </div>
        </div>
    {% endif %}
{% endfor %}